.header {
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: auto;

  padding: 24px 32px;

  background-color: var(--main-background-color);
}

.headerWrapper {
  gap: 30px;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.headerLinkLogo {
  color: var(--main-text-color);
  font-family: 'Space Mono', monospace;
  text-decoration: none;

  font-size: 28px;
  line-height: 1.5;

  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);

  &.headerLinkLogo:after {
    background-color: var(--accent-color);
    display: block;
    content: '';
    height: 2px;
    width: 0%;
    -webkit-transition: width 0.3s ease-in-out;
    -moz--transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
  }
  &.headerLinkLogo:hover:after,
  .headerLinkLogo:focus:after {
    width: 100%;
  }
  &.headerLinkLogo:hover,
  .headerLinkLogo:focus {
    color: var(--accent-color);
  }
}

.headerLinkLogo:hover > .headerLinkLogoAccent,
.headerLinkLogo:focus > .headerLinkLogoAccent {
  color: var(--main-text-color);
}

.headerLinkLogoAccent {
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--accent-color);
}

.inputWrapper {
  display: flex;
  position: relative;

  overflow: hidden;

  width: 369px;
  padding: 3px;
  border-radius: 5px;

  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
}

.searchIcon {
  position: relative;
  z-index: 1;

  &:hover {
    cursor: text;
  }
}

.searchIcon:hover + .headerInput {
  transform: translateX(-3px);
}
.headerInput:hover,
.headerInput:focus {
  transform: translateX(-3px);
}

.headerInput {
  width: 356px;
  height: 27px;

  font-size: 20px;
  padding-left: 15px;

  position: absolute;
  top: 0;

  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;

  transform: translateX(-380px);

  background-color: #191924;

  color: var(--main-text-color);
  font-family: 'Space Mono', monospace;
  font-size: 16px;
  line-height: 1.5;
}

.navigationList {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigationListItem {
  padding: 12px 16px;
}

.headerLink {
  color: var(--main-text-color);
  font-family: 'Space Mono', monospace;
  text-decoration: none;

  font-size: 16px;
  line-height: 1.5;

  &.headerLink:after {
    background-color: var(--accent-color);
    display: block;
    content: '';
    height: 2px;
    width: 0%;
    -webkit-transition: width 0.3s ease-in-out;
    -moz--transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
  }
  &.headerLink:hover:after,
  .headerLink:focus:after {
    width: 100%;
  }
}
