@import-normalize; /* bring in normalize.css styles */

:root {
  --main-background-color: #1c1c28;
  --main-text-color: #fff;
  --accent-color: #6966ff;

  --animation: 300ms linear;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: var(--main-text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 580px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1492px;
    padding-left: 60px;
    padding-right: 60px;
  }
}

.section {
  padding-top: 30px;
  padding-bottom: 30px;

  overflow-x: hidden;
}
